h1{font-family: nimbus-sans-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 3%;
    line-height: 30px; 
    font-size:15px;}

h2{ font-family: nimbus-sans-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    margin: 3%;
    line-height: 30px; 
    font-size:25px;
    }

nav-2{ 
	font-family: nimbus-sans-condensed, sans-serif;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	display: inline;
	float: right;
	margin: 3%;
	width: 10%;
	list-style-type: none;}
body {
    background-image: url("../assets/background1.png");
    background-size: cover;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: ;
  padding: 30px;
}

.grid-container > div {
  background-color:;
  text-align: left;
  padding: 20px 75px 0px 75px;
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 1;
  padding: 40px;
}

.fly-fool {
	position: relative;
    left: 0;
    top: 0;}

footer{
	position: fixed;
    left: 0px;
    bottom: 0px;
    margin-bottom: -4%;
    width: 100%;
}

.footer2 {
	position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

a{ outline: none;
  text-decoration: none;}
a:link {
  color: black;
}

a:visited {
  color: black;
}
a:hover {
  color: #f5582f;
}

svg:hover {
  fill: #bdd2ed;
}

.wrapper{grid-template-columns: 1fr 1fr 1fr }

.about{
    width: 15%
}
.surprise{
    width: 15%;
}

.about {
    position: absolute;
    right:90px;
    top:-140px;
    z-index: 99;
    animation-name: flightpathA;
    animation-delay: 1s;
    animation-duration: 30s;   
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

@keyframes flightpathA {
    0%   {right:90px; top:-140px;}
    25% {right:900px; top:-50px;}
	50% {right:500px; top:120px;}
    100%  {right:90px; top:-140px;}
}

.menu {
    position: absolute;
    right:300px;
    top:-140px;
    z-index: 99;
    animation-name: flightpathB;
    animation-delay: 1s;
    animation-duration: 30s;   
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

@keyframes flightpathB {
	0%   {right:300px; top:-140px;}
    25% {right:90px; top:120px;}
    50% {right:500px; top:-140px;}
    75%   {right:750px; top:-140px;}
    100%   {right:300px; top:-140px;}
}


#drink-menu{ 
z-index: 1;}

#food-menu{ 
z-index: -1;}

.menu{
    width: 15%
}

.small-logo{
	width: 40%
}