h1{}

h2{ font-family: nimbus-sans-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    margin: 3%;
    line-height: 30px; 
    font-size:17px;
    }

nav-2{ 
	font-family: nimbus-sans-condensed, sans-serif;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	display: inline;
	float: right;
	margin: 3%;
	width: 5%;
	list-style-type: none;}
body {
    background-image: url("assets/background1.png");
}

footer{
	position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

a{ outline: none;
  text-decoration: none;}
a:link {
  color: black;
}

a:visited {
  color: black;
}
a:hover {
  color: #4667A4;
}

.wrapper{grid-template-columns: 1fr 1fr 1fr }

.about{
    width: 8%
}
.menu{
    width: 8%
}

.small-logo{
	width: 25%
}