/* Enter your Styles below! */
nav{ float: right;
	margin: ;
	width: 10%}

nav-2{ 
	font-family: nimbus-sans-condensed, sans-serif;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	display: inline;
	float: right;
	margin: 3%;
	width: 5%;
	list-style-type: none;}

h1{}

h2{ font-family: nimbus-sans-condensed, sans-serif;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
    margin: 3%;
    line-height: 30px; 
    font-size:17px;
	}

header {margin-bottom: 20px;}
footer{
	position: fixed;
    left: 0px;
    bottom: 0px;
    height: 24%;
    width: 100%;
}


.small-logo{
	width: 25%
}

.background{
	width: 100%;
}
img { 
    max-width: 100%; 
    height: auto;}

a{ outline: none;
  text-decoration: none;}
a:link {
  color: black;
}

a:visited {
  color: black;
}
a:hover {
  color: #4667A4;
}

}

.menus{size: 70%}





/*----------------------------------------------------------------------*
	Flies
*----------------------------------------------------------------------*/

.menu {
    position: absolute;
    left:-315px;
    top:210px;
    z-index: 99;
    animation-name: flightpathA;
    animation-delay: 5s;
    animation-duration: 4.5s;   
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    transform: rotate(50deg) scale(.75,.75);
}

@keyframes flightpathA {
    0%   {left:-315px; top:210px;}
    50%  {left:300px; top:625px;}
    100% {left:1200px; top:500px;}
}

.about {
    position: absolute;
    left:-315px;
    top:210px;
    z-index: 99;
    animation-name: flightpathB;
    animation-delay: 5.5s;
    animation-duration: 4.5s;   
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    transform: rotate(50deg) scale(.75,.75);
}

@keyframes flightpathB {
    0%   {left:-915px; top:410px;}
    50%  {left:800px; top:225px;}
    100% {left:-300px; top:400px;}
}

/*----------------------------------------------------------------------*
	Miscellaneous
*----------------------------------------------------------------------*/

/* Forces a box filled with floated elements to wrap around child elements */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


